@import "tailwindcss";

@layer base {
  body {
    @apply bg-zinc-100 text-black antialiased font-light;
    font-family: 'Inter', sans-serif;
  }

  label {
    @apply block text-[11px] font-normal text-black uppercase tracking-widest mb-1.5;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    @apply w-full px-4 py-3 rounded-xl text-sm outline-none
           bg-white border-1 border-black
           placeholder:text-zinc-400
           focus:border-zinc-900 focus:ring-2 focus:ring-zinc-900/10
           disabled:bg-zinc-50 disabled:opacity-40 disabled:cursor-not-allowed
           transition-all;
  }
}
