{{define "content"}}
<form method="POST" action="/oauth2/signup">
  {{template "logo" .}}
  <h1>{{.ThemeTitle}}</h1>
  {{ .csrfField }}
  <input type="hidden" name="state" value="{{.State}}" />
  <input type="hidden" name="redirect" value="{{.Redirect}}" />
  <input type="hidden" name="client_id" value="{{.ClientID}}" />
  <input type="hidden" name="scope" value="{{.Scope}}" />
  <input type="hidden" name="nonce" value="{{.Nonce}}" />
  <input type="hidden" name="code_challenge" value="{{.CodeChallenge}}" />
  <input type="hidden" name="code_challenge_method" value="{{.CodeChallengeMethod}}" />
  <div class="control">
    {{if .UsernameIsEmail}}
    <label for="username">Email</label>
    <input type="email" id="username" name="username" required autocomplete="email" />
    {{else}}
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required autocomplete="username" />
    {{end}}
  </div>
  {{if .EmailRequired}}
  <div class="control">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required autocomplete="email" />
  </div>
  {{end}}
  <div class="control">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required autocomplete="new-password" />
  </div>
  <div class="control">
    <label for="confirm_password">Confirm Password</label>
    <input type="password" id="confirm_password" name="confirm_password" required autocomplete="new-password" />
  </div>
  {{if .Error}}
     <div class="error" role="alert">{{.Error}}</div>
  {{else}}
     <div class="error" role="alert" style="display:none"></div>
  {{end}}
  <button type="submit">Create Account</button>
  <div class="auth-link">Already have an account? <a href="/oauth2/authorize?response_type=code&client_id={{.ClientID}}&redirect_uri={{.Redirect}}&state={{.State}}&scope={{.Scope}}&nonce={{.Nonce}}&code_challenge={{.CodeChallenge}}&code_challenge_method={{.CodeChallengeMethod}}">Log in</a></div>
</form>
{{end}}
